@import "{}/imports/ui/styles/custom_theme/custom_variables.scss";
// ++++ [CustomThemeColors] ++++   ///////////////////////////////////////////////////////

/// PRIMARY COLORS //////////////////////////////////////////
$primary: var(
  --titra-primary
); // Color/Background-Color for links, Save-, Selectbuttons
$secondary: #272727; // Background-Color for all fields, control buttons, checkboxes
$success: #009688;
$info: #86a8a5;
$warning: #cb9800;
$danger: #f57c80;
$light: #bdbdbd;
$dark: #212529;
$dark-border: #3a3a3a;
$dark-form: #1d1d1d;
$grey: #2d2d2d;
$lightgrey: #404040;
$gray-900: #eeeeee;
$titra-dark: #006d62;
$none: none;

$body-background-color: #9bada7;
/// MAIN NAVBAR //////////////////////////////////////////
/// Main Navbar Background Color
$main-navbar-background-color: #7b8a85 ;
/// Main Navbar Color
$main-navbar-color: #e0ebe5;
$main-navbar-color-hover: #e0ebe5;
/// Main Navbar Border
$main-navbar-border-color: transparent;
$main-navbar-border-color-hover: transparent;
/// Main Navbar Opacity
$main-navbar-opacity: 1;
/// Icons-Only (display:inLine;)
$main-navbar-label-display: none;

/// NAVBAR DROPDOWN //////////////////////////////////////////
/// Dropdown Navbar Background Color
$navbar-dropdown-background-color: #7da49d;
$navbar-dropdown-background-color-hover: #739992;
/// Dropdown Navbar Color
$navbar-dropdown-color: #e0ebe5;
$navbar-dropdown-color-hover: #ffffff;
/// Dropdown Navbar Border
$navbar-dropdown-border-color: transparent;
$navbar-dropdown-border-color-hover: transparent;
/// Dropdown Navbar Opacity
$navbar-dropdown-opacity: 1;

/// NAVIGATION //////////////////////////////////////////
/// Navigation Background Color
$tab-navigation-background-color: #ffff;
$tab-navigation-background-color-hover: #ffff;
$tab-navigation-background-color-highlight: #ffff;
/// Navigation Border Color
$tab-navigation-border-color: #ffff;
$tab-navigation-border-color-hover: #ffff;
$tab-navigation-border-color-highlight: #ffff;
/// Navigation Color
$tab-navigation-color: #ffff;
$tab-navigation-color-hover: #ffff;
$tab-navigation-color-highlight: #ffff;

/// NOTIFICATIONS //////////////////////////////////////////
/// Notifications Background Color
$info-notification-background-color: #86a8a5;
$success-notification-background-color: #009688;
$warning-notification-background-color: #cb9800;
$danger-notification-background-color: #f57c80;
/// Notification Border Color
$info-notification-border-color: #86a8a5;
$success-notification-border-color: #009688;
$warning-notification-border-color: #cb9800;
$danger-notification-border-color: #f57c80;
/// Notification  Color
$info-notification-color: #86a8a5;
$success-notification-color: #009688;
$warning-notification-color: #cb9800;
$danger-notification-color: #f57c80;

/// BUTTONS //////////////////////////////////////////
/// Primary-Buttons
/// Background Color
$primary-button-background-color: #81c0a7;
$primary-button-background-color-hover: #a2cac3;
/// Border Color
$primary-button-border-color: transparent;
$primary-button-border-color-hover: transparent;
/// Color
$primary-button-color: #344b47; // Font-Color of primary buttons
$primary-button-color-hover: #344b47; // Font-Hover-Color of primary buttons
/// Secondary-Buttons
/// Background Color
$secondary-button-background-color: #cbdfd5;
$secondary-button-background-color-hover: #a2cac3;
/// Border Color
$secondary-button-border-color: transparent;
$secondary-button-border-color-hover: transparent;
/// Color
$secondary-button-color: #344b47;
$secondary-button-color-hover: #3d625c;
/// InputField-Buttons
/// Background Color
$input-button-background-color: #404040;
$input-button-background-color-hover: #006d62;
/// Border Color
$input-button-border-color: #3a3a3a;
$input-button-border-color-hover: #3a3a3a;
/// Color
$input-button-color: #bbbbbb;
$input-button-color-hover: #2d2d2d;

/// CONTAINER //////////////////////////////////////////
/// Container Background Color
$container-background-color: $grey;
/// Container Border Color
$container-background-color: $grey;

/// INPUT FIELDS //////////////////////////////////////////
/// InputField Background
$input-field-background-color: #404040;
$input-field-background-color-hover: #404040;
/// InputField Border
$input-field-border-color: #404040;
$input-field-border-color-hover: #404040;
/// InputField Color
$input-field-border-color: #404040;
$input-field-border-color-hover: #404040;

/// CARDS //////////////////////////////////////////
/// Card Header Background
$card-header-background-color: #739992;
/// Card Header Color
$card-header-color: #e0ebe5;
/// Card Header Border Color
$card-header-border-color: transparent;
/// Card Background
$card-background-color: #dbece3;
/// Card All Projects Gradient
$card-allprojects-gradient-colors: linear-gradient(
  to top,
  #bad1c7,
  #9ab6ad,
  #9ab6ad,
  #7b9b94,
  #5c827c
);
/// Card Color
$card-color: #4a5c59;
/// Card Border Color
$card-border-color: #344b47;
$card-border: none;
/// Card allProjects Font Color
$card-allprojects-font-color: #dbece3;
$card-allprojects-header-border-color: #344b47;
/// Card Badge Color
$card-badge-color: #cbdfd5;
$card-badge-background-color: #7da49d;
/// Card Handle Color
$card-handle-color: #cbdfd5;
/// Card Box Shadow
$card-box-shadow: 20px 20px 100px 20px #02020221;